@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,900');

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
}

.text-light {
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}

.text-bold {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
}

.navbar {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-basic {
  border-radius: 100;
  letter-spacing: 10

}